<!doctype HTML>
<html>
    <head></head>
    <body>
        <h1>Students list</h1>

        <ul>
            {% for student in students %}
                <li>
                    {{ student.firstName }} {{ student.lastName }}
                     - <a href="{{ path('student_delete', {id: student.id}) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
